* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
}

body::-webkit-scrollbar {
  display: none;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: static;
  top: 0;
  background-color: #fff7ed;
  width: 100vw;
}

nav > a,
nav > .menu > a {
  text-decoration: none;
  color: black;
}

nav > a {
  font-size: 1.9rem;
  font-weight: bolder;
}

nav > .menu > a {
  font-size: 1.5rem;
  font-weight: normal;
}

nav > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

/* FOOTER  */

footer {
  position: static;
  bottom: -0;
  left: 0;
  background-color: #252525;
  color: #aaaaaa;
  padding: 15px 50px;
  width: 100vw;
  text-align: center;
}

footer > p {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

footer > p > span {
  font-size: 1.8rem;
  padding-right: 5px;
}

/* HOME PAGE */
.main-home-page {
  background-image: url("./assets/home-page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-home-page h1 {
  font-family: "Inter";
  color: white;
  font-weight: bolder;
  font-size: 5rem;
  line-height: 5.2rem;
  margin: 20px 0px;
}

.main-home-page h3 {
  font-family: "Inter";
  color: white;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 40px;
}

.main-home-page > button {
  background-color: #ff8c38;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

/* About */
.main-about-page {
  background-color: #fff7ed;
}

.main-about-page > img {
  width: 100vw;
  margin-bottom: 10px;
}

.main-about-page > .container {
  padding: 0px 40px;
}

.main-about-page > .container > h2 {
  padding: 20px 0px;
  font-size: 3.8rem;
  font-weight: bolder;
}

.main-about-page > .container > h4 {
  padding: 10px 0px 20px;
  font-size: 1.2rem;
}

.main-about-page > .container > .cta-page-about {
  margin: 40px 0px;
  padding: 40px;
  background-color: #ffcc8d;
  border-radius: 10px;
}

.main-about-page > .container > .cta-page-about > h3 {
  font-size: 2rem;
  font-weight: 800;
  text-wrap: balance;
}

.main-about-page > .container > .cta-page-about > h3:nth-child(2) {
  margin-bottom: 40px;
}

.main-about-page > .container > .cta-page-about > a {
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* Page Vans */
.main-vanlist-page {
  background-color: #fff7ed;
  padding: 50px;
}

.main-vanlist-page > h1 {
  font-weight: bolder;
  font-size: 2.7rem;
  line-height: 5.2rem;
  color: black;
  margin-bottom: 20px;
}

.main-vanlist-page > .filter {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main-vanlist-page > .filter > .filter-option {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main-vanlist-page input[type="checkbox"] {
  display: none !important;
}

.main-vanlist-page input[type="checkbox"]:checked + label {
  background-color: #ff8c38;
  color: #fff;
}

.main-vanlist-page label {
  padding: 10px 40px;
  background-color: #ffead0;
  border-radius: 10px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-info {
  margin-bottom: 15px;
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
}
